TestClients/Service References/MeasurementsService/MeasurementsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Savonia.MeasurementService.V3" elementFormDefault="qualified" targetNamespace="Savonia.MeasurementService.V3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55276/MeasurementsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" />
  <xs:element name="SaveMeasurements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="measurements" nillable="true" type="q1:ArrayOfMeasurementModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMeasurementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="SaveMeasurementsResult" nillable="true" type="q2:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMeasurementPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="measurementPackage" nillable="true" type="q3:MeasurementPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMeasurementPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="SaveMeasurementPackageResult" nillable="true" type="q4:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestGetMeasurements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sensors" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="obj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="take" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inclusiveFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inclusiveTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestGetMeasurementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="RestGetMeasurementsResult" nillable="true" type="q5:ArrayOfMeasurementModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="query" nillable="true" type="q6:MeasurementQueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="GetMeasurementsResult" nillable="true" type="q7:ArrayOfMeasurementModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="GetSensorsResult" nillable="true" type="q8:ArrayOfSensorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveMeasurementsTemplate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveMeasurementsTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="GetSaveMeasurementsTemplateResult" nillable="true" type="q9:ArrayOfMeasurementModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveMeasurementPackageTemplate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveMeasurementPackageTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Savonia.Measurements.Models" minOccurs="0" name="GetSaveMeasurementPackageTemplateResult" nillable="true" type="q10:MeasurementPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>